* {
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, rgba(130, 181, 247,0.3),rgba(125, 216, 157,0.3)), url(https://images.unsplash.com/photo-1441323263989-281bc2f5b68c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80) ;
    background-size: cover;
    height: 1000px;
    background-repeat: no-repeat;
}
h1 {
    color: #f5b95e;
    font-family: 'Lobster', cursive;
    font-size: 45px;
    text-align: center;
}
.container {
    margin-top: 80px;
    /* height: 500px; */
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(130, 181, 247,1);
}
.form  {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
}
.form .title-date {
    color: #0547a9;
    font-size: 20px;
}

.form input {
    border-radius: 5px;
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 18px;
    color: #0547a9;
    font-family: 'Josefin Sans', sans-serif;
    border: 1px solid  #0547a9;
}
.date {
    display: flex;
}
#first-today {
    height: 15px;
    margin: auto;
}
#second-today {
    height: 15px;
    margin: auto;
}
.today-label {
    font-size: 16px;
    color: #0547a9;
    margin: auto;
}
button {
    width: 100%;
    height: 30px;
    background-color: #f5b95e;
    border: none;
    justify-content: center;
    color: #0547a9;
    border-radius: 3px;
}
.result {
    margin: 30px auto;
    width: 200px;
    height: 100px;
    color: #f5b95e;
    font-family: 'Lobster', cursive;
    font-size: 60px;
    text-align: center;
    /* background-color: rgba(130, 181, 247,1); */
    
}
#test {
    margin: 0 auto;
}

